.accordionContainer {
  background-color: rgb(12, 52, 110);
  box-shadow: 2px 3px 6px 0px #000;
  margin-bottom: 16px;
  padding: 12px;
}

.accordionContainer:hover {
  background-color: rgb(9, 39, 84);
}

.classicButton {
  background-color: #2659bf;
  margin-right: 14px;
}

.classicButton:hover {
  background-color: #1c428d;
}

.warningButton {
  background-color: #bb7300;
  margin-right: 14px;
}

.errorButton {
  background-color: #aa2626;
}

.warningButton:hover {
  background-color: #975d00;
}

.errorButton:hover {
  background-color: #8c1e1e;
}
