.accordionContainer {
  background-color: rgb(12, 52, 110);
  box-shadow: 2px 3px 6px 0px #000;
  margin-bottom: 16px;
  padding: 12px;
}

.accordionContainer:hover {
  background-color: rgb(9, 39, 84);
}

.successButton {
  background-color: #2e7d32;
  margin-right: 14px;
  border-radius: 18px;
}

.errorButton {
  background-color: #aa2626;
  border-radius: 18px;
}

.successButton:hover {
  background-color: #246526;
}

.errorButton:hover {
  background-color: #8c1e1e;
}
