.cardsBgc {
  background-color: rgb(12, 52, 110);
  box-shadow: 2px 3px 6px 0px #000;
}

.cardsBgc:hover {
  box-shadow: 3px 3px 8px 3px #000;
  transition: ease-in-out 0.15s;
}

.percentageNegative {
  color: rgb(244, 67, 54);
  background-color: rgba(244, 67, 54, 0.1);
  border-radius: 4px;
  font-size: 14px;
  padding: 2.5px;
}

.percentagePositive {
  color: rgb(76, 175, 80);
  background-color: rgba(76, 175, 80, 0.1);
  border-radius: 4px;
  font-size: 14px;
  padding: 2.5px;
}

.boxShadowCss {
  box-shadow: 2px 3px 6px 0px #000;
}

.boxShadowCss:hover {
  box-shadow: 3px 3px 8px 3px #000;
  transition: ease-in-out 0.15s;
}
